/* Universal Resset */

:root {
  --BGBROWN: #682b13;
  --BGDARK: #1b1b1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Universal */
h1 {
  font-size: 2.5rem;
  text-align: center;
  animation: slideLeft 1s forwards;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
  position: relative;
}
h2::after {
  content: "";
  background: var(--BGBROWN);
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 4px; /* Adjust this value according to your design */
  width: 100px;
  transform: translate(-50%);
  border-radius: 50%;
}

h3 {
  font-size: 1.2rem;
}

a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 20px;
  width: 100%;
  border-radius: 8px;
}
.cta-btn {
  text-transform: capitalize;
  text-align: center;
  background-image: linear-gradient(to left, orange, darkcyan);
  color: #fff;
  padding: 6px 15px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  width: 100%;
}
.cta-btn:hover {
  background-image: linear-gradient(to right, orange, darkcyan);
}
.title {
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

/* HEADER */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
  background-color: white;
  transition: all 0.4s ease-in-out;
}

.header ul a:hover {
  background-color: whitesmoke;
}

.header .logo {
  float: left;
  display: block;
  font-size: 1.8rem;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Pacifico", cursive;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all 0.4s ease-in-out;
}
.header .logo:hover {
  background-image: linear-gradient(to left, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.menu-hide {
  clear: both;
  max-height: 0;
}

.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background-color: #333;
  display: block;
  height: 3px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  background-color: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  background-color: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: fit-content;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* MAIN */
article {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 20px;
}
.hero-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;
}
/* hero section*/
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 0;
  background-image: url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero .hero__contents {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 20px 0 20px;
  height: 100%;
  text-align: center;
}
.hero h1 {
  padding: 20px;
  text-align: center;
}

.hero__paragraph {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.6;
  position: relative;
  animation: slideRight 1s;
}
.hero img {
  margin-top: 20px;
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  align-self: center;
  object-fit: cover;
  position: relative;
  animation: zoomIn 2s;
}

/* About Section */
.about {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 150px 20px 0 20px;
}

.about h2 {
  margin-bottom: 20px;
  font-weight: bold;
}
.about__pragraph_wrapper p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1rem;
}
.about__pragraph_wrapper strong {
}

/* SERVICES Section */
.services {
  /* height: 100vh; */
  background-color: #fff;
  padding: 150px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 100px;
}

.services h2,
.services h3 {
  margin-bottom: 15px;
  text-align: center;
}
.services p {
  line-height: 1.6;
  text-align: center;
}
.services .paragraph {
  margin-bottom: 10px;
  font-weight: bold;
}

.services-wrapper {
  display: grid;
}
.services .card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.services .card img {
  display: block;
  margin: 10px auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.services .card_body {
  text-align: center;
}

/* Skills */
.skills {
  background-color: whitesmoke;
  padding: 150px 20px;
}
.skills h2 {
  margin-bottom: 15px;
}
.skills h3 {
  text-transform: uppercase;
}
.skills__header {
  text-align: center;
}
.skills__header p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.skills-wrapper {
  display: grid;
  gap: 10px;
}
.skills-container {
  padding: 20px;
}
.skills-container h3 {
  text-align: center;
}
.skill-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill-list .skill-list-item {
  /* background-color: #fff; */
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
  transition: all 0.4s ease-in-out;
  cursor: default;
}
.skill-list-item:hover {
  transform: translate(1.2%);
}
.skill-list-item img {
  display: block;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.skill-list-item p {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  font-size: 0.8rem;
}
/* PROJECT SECTION */
.projects {
  padding: 150px 20px;
}

.project-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  height: 250px;
  width: 400px;
  position: relative;
  margin-bottom: 10px;
  transition: all ease-in-out 0.3s;
  cursor: default;
  overflow: hidden;
  border-radius: 10px;
  animation: fadeIn 10s forwards;
}

.project:hover .project-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  transition: all 0.4s linear;
  color: white;
  text-align: center;
}
.project img {
  width: 100%;
  height: 100%;
}

.project-contents p {
  text-align: center;
  margin: 15px auto;
  font-size: 1.2rem;
  line-height: 1.6;
}

.project-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.project h3 {
  font-size: 1.5rem;
}
.project p {
  text-align: unset;
  line-height: 1.6;
}
.project .cta-btn {
  width: 100%;
}
.project .btn-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
/* Contacts */
.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #bbc, whitesmoke, #f0f0f0);
  padding: 20px;
}
.contact-wrapper {
  text-align: center;
  width: 600px;
  margin: auto;
  max-width: 100%;
}
.contact h2 {
  margin-bottom: 20px;
}
.contact p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.contact .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.09);
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.contact .form-group label {
  margin-bottom: 5px;
  font-size: 1.2rem;
  opacity: 0.8;
}

.form input,
.form textarea {
  width: 100%;
  padding: 5px 10px;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.form textarea {
  resize: none;
  height: 140px;
}
.form input::placeholder,
.form textarea::placeholder {
  opacity: 0.5;
}
.form button {
  background: linear-gradient(to left, darkcyan, var(--BGBROWN));
  display: block;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  transition: all 0.4s linear;
}
.form button:hover {
  background: linear-gradient(to right, darkcyan, var(--BGBROWN));
}
/* FOOTER SECTION */
footer {
  padding: 50px 0;
  background-image: linear-gradient(
    to right,
    var(--BGBROWN),
    var(--BGDARK),
    var(--BGBROWN)
  );
  color: #f0f0f0;
}
.footer-wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 10px 0;
  max-width: 1024px;
  margin: auto;
}
.brand {
  flex: 2;
  margin-bottom: 20px;
}
.brand h3 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.brand p {
  line-height: 1.6;
  font-style: italic;
}
.social {
  flex: 1;
  padding-right: 50px;
}
.social h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.social .social-icons {
  display: flex;
  justify-content: space-around;
}
.social a {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.social i {
  font-size: 1.3rem;
  border-radius: 50%;
  color: #fff;
}
footer .divider {
  max-width: 600px;
  margin: 40px auto;
  border-radius: 50%;
}
.footnote {
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.2rem;
}

/* ANIMATION SECTION */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideRight {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes zoomIn {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 900px) {
  .header {
    padding: 0px 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }
  .header li {
    float: left;
  }

  .header li a {
    background: transparent;
    transition: all 0.4s ease-in-out;
    border-bottom: 2px solid transparent;
    position: relative;
  }

  .header ul a:hover::after,
  .header ul a.active::after {
    content: "";
    background: var(--BGBROWN);
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px; /* Adjust this value according to your design */
    width: 40px;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    transition: width 0.3s ease;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  /* about */
  .about {
    padding: 0;
    height: 100vh;
  }
  .about p {
    font-size: 1.2rem;
  }
  .services-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }
  /* Projects */
  /* FOOTER SECTION */
  .footer-wrapper {
    flex-direction: row;
  }
}
